.chatHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    padding: 10px;

}
.chatHeader_hash{
    color:grey;
    font-size: 30px;
    padding: 10px;

}
.chatHeader_left>h3{
    display: flex;
    align-items: center;
    color: white;
}
.chatHeader_right{
    display: flex;
    align-items: center;
    flex:0.5;
    justify-content: space-between;
}

.chatHeader_right >.MuiSvgIcon-root{
    padding:2px;
    cursor:pointer;
}
.chatHeader_right >.MuiSvgIcon-root:hover{
    color:white
}
.chatHeader_search{
    display: flex;
    align-items: center;
    color: grey;
    background-color: #2f3135;
    padding:3px;
    border-radius: 3px;
}
.chatHeader_search>input{
    background: transparent;
    outline-width: 0;
    color:white;
    border: none;
}