.message{
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}
.message_info{
    margin-left: 20px;
}
.message_timestamp{
    color:gray;
    font-size:x-small;
    margin-left: 20px;
}